.section-img-box{
    display:flex;
    height:150px;
    width: 100vw;
}
.section-img{
    height:100%;
    width:100%;
    opacity: 0.5;
}
@media(max-width:600px)
{
    .section-img-box{
        display:flex;
        height:80px;
        width: 100vw;
    } 
}